<h1><%= @user.full_name %></h1>
<hr />
<%= link_to 'See Trip Reviews', user_reviews_path(@user) %>
<br>
<%= link_to 'Edit User', edit_user_path([@user]) %>
<br/>
<%= link_to 'Delete User', [@user], method: :delete %>

