<h1><%=@place.name %> Addresses </h1>
<%= link_to 'Add an Address', new_place_address_path(@place) %>
<ul>
  <% @addresses.each do |address| %>

    <li><%= link_to address.full_address, place_address_path(@place, address) %></li>
  <% end %>
  
  
</ul>

<br/>
<br/>

<%= link_to 'Back to Places', trip_places_path(@trip) %>