<h1><%=@trip.name %> Places</h1>
<%= link_to 'Add a new Place', new_trip_place_path(@trip) %>
<ul>
  <% @places.each do |place| %>

    <li><%= link_to place.name, trip_place_path(@trip, place) %></li>
  <% end %>
  
  
</ul>